@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


:root {
	--black:#1f2a38;
	--blue:#a6f6ff;
	--dark-blue:#1247D9;
	--light-blue:#577FF1;
	--offwhite:#F7F9FC;
}


html {
	box-sizing:border-box;
}

*,
*:before,
*:after {
	box-sizing:inherit;
}



body{
	width:1200px;
	padding: 60px 60px;
	font-size: 18px;
	line-height: 1.6em;
}

p {
	padding-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
	color:var(--black);
	font-weight: 700;
}

h1 {
	font-size: 36px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 26px;
}

.preheader {
	font-size: 18px;
	color: var(--dark-blue);
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

h1,h2,h3,h4,h5,p,body,a { 
font-family: 'Lato', sans-serif;
}

.heading--block{
	max-width:800px;
}



.heading--block--body {
	font-size: 18px;
	line-height: 26px;
	color: #525252;

}

.header--image {
	max-width: 600px;
}


.button {
	background-color: #a6f6ff;
	border:0;
	padding: 1rem 2rem;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 20px;
	text-decoration: none;
	color:#1f2a38;
	text-transform: uppercase;
}

.readmore {
	font-size: 15;
	display: block;
	padding: 2rem 0;
	text-decoration: none;
	color: var(--dark-blue);
}

main {
    display: flex;
    flex-wrap: wrap;
 }


 .for-preview {
 	width: 535px;
 }

  .for-preview-h2 {
 	width: 235px;
 	display: block;
 }

   .for-preview-pre {
 	width: 235px;
 }

    .for-preview-button {
 	width: 350px;
 }

 	.for-preview-button-readmore {
 	width: 120px;
 	display: block;
 }


 /** Menu **/ 

 .menu {
 	list-style: none;
    display: flex;
 }

 .menu li {
 	    padding: 1rem;
 	    font-weight: 700;
 }

 .site-header {
 	background-color: transparent;
    color: #000;
    margin: 0 auto;
    max-width: 1290px;
    padding: 10px 0 0;
 }

 .site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;

}

.site-main-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
}

.site-main-navigation a {
  padding: 1rem;
  display: inline-block;
  text-decoration: none;
  color: var(--black);
}

.logo {
  margin: 0;
}


 /** Product Section **/ 

 .product-section {
 	background-color: var(--black);
 	color: var(--offwhite);
 	padding: 2rem ;
 }
