@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


:root {
	--black:#1f2a38;
	--gray:#525252;
	--light-gray:#e3e3e3;
	--blue:#a6f6ff;
	--dark-blue:#1247D9;
	--light-blue:#577FF1;
	--offwhite:#F7F9FC;
	--purple:#d5dffc;
}


html {
	box-sizing:border-box;
}

*,
*:before,
*:after {
	box-sizing:inherit;
}



body{
	/*width:1200px;*/
	/*padding: 60px 60px;*/
	line-height: 1.6em;
}

p {
	padding-bottom: 1rem;
	font-size: 18px;
}

h1, h2, h3, h4, h5 {
	color:var(--black);
	font-weight: 700;
	line-height: 1.2em;
	margin-top: 0;
}

h1 {
	font-size: 46px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 26px;
}



h1,h2,h3,h4,h5,p,body,a { 
font-family: 'Lato', sans-serif;
}


.dark-section {
	background-color: var(--black);
	padding: 1rem 3rem;
}

/* COLORS */

.purple{
	background-color: var(--purple);
}

.blue {
	color: var(--blue);
}

.red {
	color: #cc0201 !important;
}




.dark-section p {
	color: var(--offwhite);
}
.dark-section h2 {
	color: var(--offwhite);
}

.center {
	text-align: center;
	align-items: center;
}


.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 2rem 1rem;
}

.flex {
	display: flex;
	justify-content: space-between;
}


.preheader {
	font-size: 18px;
	color: var(--dark-blue);
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}


/** HERO SECTION **/

.hero-section {
	padding-top: 2rem;
}

.hero-section--image img {
	max-width: 600px;
}


.heading--block {
	max-width:1200px;
	padding-left:30px;
}



.heading--block--body {
	font-size: 18px;
	line-height: 26px;
	color: #525252;

}


/*  SIDE BAR */

.sidebar  {
	background-color: var(--light-gray);
	padding: 1rem;
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    width: 18rem;

}

.sidebar a {
	text-decoration: none;
	color: var(--gray);
}

.sidebar--title {
	font-size: 35px;
}

.component-page--main {
	grid-area: main;
}


.component-page {
    display: grid;
    grid-template-columns: 18rem minmax(0, 1fr);
    grid-template-areas: "header main";
    padding-top: 0;
}

.component-page__header {
    position: relative;
    padding: 1rem;
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    width: 18rem;
}

.component-page__header {
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--gray-light);
    z-index: 100;
}

.sidebar-nav__list {
	    list-style: none;
    padding: 0;
}



.component-page__header {
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--gray-light);
    z-index: 100;
}


.component-page--nav {
    display: block;
    grid-area: nav;
    margin-top: 1.33rem;
}

.component-page__header-container {
    position: static;
}











.header--image {
	max-width: 600px;
}


.button {
	background-color: #a6f6ff;
	border:0;
	padding: 1rem 2rem;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 20px;
	text-decoration: none;
	color:#1f2a38;
	text-transform: uppercase;
}

.footer-section--button {
	width: 150px;
	background-color: #a6f6ff;
	border:0;
	padding: 5px 36px;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 20px;
	text-decoration: none;
	color:#1f2a38;
	text-transform: uppercase;
}
}

.readmore {
	font-size: 15px;
	display: block;
	padding: 0px;
	text-decoration: none;
	color: var(--dark-blue);
}

main {
    display: flex;
    flex-wrap: wrap;
 }


 .for-preview {
 	width: 535px;
 }

  .for-preview-h2 {
 	width: 235px;
 	display: block;
 }

   .for-preview-pre {
 	width: 235px;
 }

    .for-preview-button {
 	width: 350px;
 }

 	.for-preview-button-readmore {
 	width: 120px;
 	display: block;
 }

 	.for-preview-story {
 		width:820px;
 	}



.for-preview-morestory {
 		width:280px;
 	}


 /** Menu **/ 

 .site-nav--menu {
 	list-style: none;
    display: flex;
    font-size: 14px;
    font-weight: 600;
 }

 .site-nav--menuli {
 	 font-weight: 700;
 }


.site-nav--menu {
  list-style-type: none;
}

.site-nav--item {
  position: relative;
  padding: 5px 25px;
}

.site-nav--sub-menu {
  	display: none;
	width: 460px;
    position: absolute;
    left: 0;
    top: 100%;
    grid-template-columns: 1fr 1fr;
    translate: -77px;
    background-color: #fff;
    border: 1px solid #dae3fd;
    padding: 7px 0;
}


.site-nav--sub-menu-border {
  	display: none;
	width: 260px;
    position: absolute;
    left: 0;
    top: 100%;
    grid-template-columns: 1fr 1fr;
    translate: -77px;
    background-color: #fff;
    border: 1px solid #dae3fd;
    padding: 0px 0;
}



.site-nav--sub-menu-border.site-nav--column a {
    border: 1px #cfcfcf solid;
    width: 100%;
    padding: 7px;
}


.site-nav--img {
	height: 17px;
}

.site-nav--item:hover .site-nav--sub-menu  {
  display: grid; 
}

.site-nav--item:hover .site-nav--sub-menu-border   {
  display: block; 
}

.site-nav--column {
  flex-direction: column;
  margin: 0 4px;
}

.site-nav--column a {
  display: block;
      padding: 2px 14px;


}

.site-nav--icon {
	color: var(--dark-blue);
	background-color: var(--blue);
	border-radius: 12px;
    padding: 6px;
    margin-right: 10px;

}






 .site-header {
 	background-color: transparent;
    color: #000;
    margin: 0 auto;
    max-width: 1290px;
    padding: 10px 0 0;

 }

 .site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;

}

.site-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
}

.site-nav a {
  display: inline-block;
  text-decoration: none;
  color: var(--black);
}

.logo {
  margin: 0;
}



/* HERO SECTION 

    flex-wrap: wrap;
*/




 /** Product Section **/ 

 .product-section {
 	background-color: var(--black);
 	color: var(--offwhite);
 	padding: 50px 1rem;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-wrap: wrap;
 }

 .product-section--image {
 	/*width: 400px;*/
 	width: 550px;
 	padding: 0 1rem;
 }

 .product-section--body {
 	max-width: 900px;
 	text-align: center;
 	    margin: auto;
 }

 .product-section--block {
 	width: 560px;
 	padding: 0 1rem;
 }


 /** Story Section **/ 

.story-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.story-section--image  {
	display:flex;
	float: left;
	max-width: 600px;
}

.story-section--block {
	display: flex;
    flex-direction: column;
    justify-cowntent: center;	
    width: 500px;
    float: left;
    margin-left: 0;
    padding: 0 1rem;
}

.more-stories--block {
	width:280px ;
}

.more-stories--text {
	font-size: 15px;
	padding-bottom:0px ;
}

.more-stories--image {
	height: 42px;
}



/* SLIDER  */

.logo-slider img {
	height: 30px;
	padding: 0 30px;
}


/* OPEN SOURCE SECTION */
.open-source-section {
	background-image: url("../img/open-source-bg.webp");
	  background-repeat: no-repeat;
  background-size: cover;

}


.logo-slider--headline {
	color: var(--dark-blue);
	font-weight: 700;
}


footer {
	background-color: #F8F8F8;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    color: #333;
    font-size: 14px;
    max-width: 1300px;
    margin: 0 auto;
}

.footer-section {
    display: flex;
    flex-direction: column;
    padding: 80px 10px 10px 10px;
}

.footer-section--logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.footer--link--red-link {
	color: #cc0201;
	text-decoration: none;
    margin-bottom: -5px;
    padding: 20px 0 0 0;
}

.footer--link--blue-link {
    padding: 20px 0 0 0;
}

.footer-section--social-media {
	display: inline-block;
	padding-right: 20px;
}

.footer--link {
    color: var(--black);
    text-decoration: none;
    margin-bottom: -5px;
    color:var(--gray);
}

.footer-list {
	list-style: none;
	padding-inline-start: 0px;
	height: 175px;
	margin-top: -13px;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer--menu-item a {
    color: var(--black);
    text-decoration: none;
}
.footer--menu-item {
	margin-bottom: -5px;
}






  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
  }

  .service {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
  }


  .text {
    font-size: 16px;
    color: #333;
  }