<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css" />
  <title>Digital Asset Case Study</title>
</head>
<body>
  <h1>Components | Digital Asset Case Study</h1>
  <h2>Typography</h2>
  <hr>
  <h3>Body</h3>
  <img class="for-preview" src="img/--body-text.jpg" alt="--body-text">
  <div class="heading--block">
    <p class="heading--block--body">Digital Asset empowers the world's most innovative organizations to work across traditional boundaries with applications that enable information and value to flow freely, in a global, connected network.</p>
  <hr>
  <h3>Headings (h1,h2,..)</h3>
  <img class="for-preview" src="img/--header-title.jpg" alt="h1">
  <img class="for-preview-h2" src="img/--header-h2.jpg" alt="h2">
  <img class="for-preview-pre" src="img/--pre-header.jpg" alt="preheader">
    <h1 class="heading--block--title">Realize the full economic value of a more interconnected world</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h3 class="preheader">Featured customer story</h3>
    <hr>
  <h3>Buttons</h3>
  <img class="for-preview-button" src="img/Header--button.jpg" alt="button">
  <img class="for-preview-button-readmore" src="img/--button-readmore.jpg" alt="button">
	<a href="#!" class="button">EXPLORE THE PROBLEMS DIGITAL ASSET SOLVES</a>
	<a href="#!" class="readmore">Read More ></a>
    <hr>

<h3>Navigation</h3>

<header class="site-header">
    <div class="container">
      <a href="!#"><img class="logo" src="img/digital-asset-logo.svg"></a>
    <nav class="site-main-navigation">
      <ul class="menu">
          <li>Use Cases</li>
          <li>Products</li>
          <li>Developers</li>
          <li>Company</li>
          <li>Partners</li>
          <li><i class="fa fa-search" aria-hidden="true"></i></li>
      </ul>
    </nav>
    </div>
</header>

    <hr>
<h3>Product Section</h3>

<div class="product-section">

<div>
  <img class="product-section--image"src="img/products-image-1.jpg">
</div>

<div class="product-section--block">
<img  src="img/daml-enterprise-dark-bg.svg">
<p>Daml Enterprise enables global connectivity and synchronization, helping you get to market quickly with full-stack, multi-party solutions that scale as your business needs evolve. Supported by our industry experts 24/365.</p>
<a href="#!" class="button">Learn More</a>
</div>

</div>


</body>
</html>