<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>Digital Asset Case Study</title>
</head>
<body class="component-page">
  


<div class="sidebar">
  
<h1 class="sidebar--title">
            Digital Asset Case Study
        </h1>
        <nav class="sidebar-nav component-page--nav">
          <section class="sidebar-nav__section">
            <h3 class="sidebar-nav__heading">
              <a href="#typography">Typography</a>
            </h3>
            <ul class="sidebar-nav__list">
              <li><a href="#body">body</a></li>
              <li><a href="#headings">h1, h2, h3, ...</a></li>
              <li><a href="#buttons">buttons</a></li>
            </ul>
            <h3 class="sidebar-nav__heading">
              <a href="#navigation">Navigation</a></h3>
              <ul class="sidebar-nav__list">
              <li><a href="#submenu">Sub menu</a></li>
            </ul>
            <h3 class="sidebar-nav__heading">
              <a href="#sections">Sections</a></h3>
              <ul class="sidebar-nav__list">
              <li><a href="#product-section">Product Section</a></li>
              <li><a href="#story-section">Story Section</a></li>
              <li><a href="#more-stories-section">More Stories Section</a></li>
              <li><a href="#logo-slider-section">Logo Slider Section</a></li>
            </ul>
            <h3 class="sidebar-nav__heading">
              <a href="#footer">Footer</a></h3>       
            
          </section>
        </nav>


</div>


<div class="container component-page--main">

  <h1>Web Design System</h1>

  <h2 id="typography">Typography</h2>
  

  <hr>
  <h3 id="body">Body</h3>
  <img class="for-preview" src="img/--body-text.jpg" alt="Body text preview">
  <div class="">
    <p class="heading--block--body">Digital Asset empowers the world's most innovative organizations to work across traditional boundaries with applications that enable information and value to flow freely, in a global, connected network.</p>
  


  <hr>
  <h3 id="headings">Headings (h1,h2,..)</h3>
  <img class="for-preview" src="img/--header-title.jpg" alt="Header title preview">
  <img class="for-preview-h2" src="img/--header-h2.jpg" alt="Header H2 preview">
  <img class="for-preview-pre" src="img/--pre-header.jpg" alt="Pre-header preview">
    <h1 class="heading--block--title">Realize the full economic value of a more interconnected world</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h3 class="preheader">Featured customer story</h3>
    


  <hr>
  <h3 id="buttons">Buttons</h3>
  <img class="for-preview-button" src="img/Header--button.jpg" alt="Button preview">
  <img class="for-preview-button-readmore" src="img/--button-readmore.jpg" alt="Button preview">
  <a href="#!" class="button">EXPLORE THE PROBLEMS DIGITAL ASSET SOLVES</a>
  <a href="#!" class="readmore">Read More ></a>
  

<hr>
<h3 id="navigation">Navigation</h3>

<img class="for-preview-story" src="img/--nav.jpg" alt="Navigation preview">


    <div class="container">
      <a href="!#"><img class="logo" src="img/digital-asset-logo.svg" alt="Submenu preview">></a>
    <nav class="site-nav">
      <ul class="site-nav--menu">
          <li class="site-nav--item">Use Cases
            <!--  <div class="site-nav--sub-menu">
                  <div class="site-nav--column">
                    <a href="#"><i class="fa fa-pencil site-nav--iconring & Settlement</a>
                    <a href="#"><i class="fa fa-credit-card site-nav--icon"></i>Tokenization & Issuance</a>
                    <a href="#"><i class="fa fa-pencil site-nav--icon"></i>Payments</a></div>
                  <div class="site-nav--column">
                    <a href="#"><i class="fa fa-credit-card site-nav--icon"></i>Lifecycle Management</a>
                    <a href="#"><i class="fa fa-pencil site-nav--icon"></i>Custody & Safekeeping</a>
                    <a href="#"><i class="fa fa-credit-card site-nav--icon"></i>Wagering & Gambling</a></div>
              </div></li>  -->
          <li class="site-nav--item">Products
              <!-- <div class="site-nav--sub-menu-border site-nav--column">
                  <a href="#"><img class="site-nav--img" src="components/img/daml-enterprise-logo.svg"> </a>
                  <a href="#"><img class="site-nav--img" src="components/img/daml-hub-logo-light.svg"> </a>
                  <a href="#"><i class="fa fa-credit-card site-nav--icon"></i>Daml Finance</a>
                  <a href="#"><i class="fa fa-pencil site-nav--icon"></i>Implementation Options</a>
                  <a href="#"><i class="fa fa-pencil site-nav--icon"></i>Customer Stories</a>
                </div> -->
          </li>
          <li class="site-nav--item">Developers
            <!-- <div class="site-nav--sub-menu site-nav--column">
                    <a href="#"><i class="fa fa-pencil site-nav--icon"></i> Clearing & Settlement</a>
                    <a href="#"><i class="fa fa-credit-card site-nav--icon"></i>Tokenization & Issuance</a>
                    <a href="#"><i class="fa fa-pencil site-nav--icon"></i>Payments</a>
            </div> -->  
          </li>         
          <li class="site-nav--item">Company</li>
          <li class="site-nav--item">Partners</li>
          <li><i class="fa fa-search" aria-hidden="true"></i></li>
      </ul>
    </nav>
    </div>



<hr>
<h3 id="submenu">Sub Menu</h3>

<img class="for-preview" src="img/submenu.jpg" alt="Submenu preview">

<div class="services-container">
  <div class="service">
    <div class="icon"><i class="fa fa-pencil site-nav--icon"></i></div>
    <div class="text">Clearing & Settlement</div>
  </div>
  <div class="service">
    <div class="icon"><i class="fa fa-pencil site-nav--icon"></i></div>
    <div class="text">Lifecycle Management</div>
  </div>
  <div class="service">
    <div class="icon"><i class="fa fa-pencil site-nav--icon"></i></div>
    <div class="text">Tokenization & Issuance</div>
  </div>
  <div class="service">
    <div class="icon"><i class="fa fa-pencil site-nav--icon"></i></div>
    <div class="text">Custody & Safekeeping</div>
  </div>
  <div class="service">
    <div class="icon"><i class="fa fa-pencil site-nav--icon"></i></div>
    <div class="text">Payments</div>
  </div>
  <div class="service">
    <div class="icon"><i class="fa fa-pencil site-nav--icon"></i></div>
    <div class="text">Wagering & Gambling</div>
  </div>
</div>

<hr>

<img class="for-preview-morestory" src="img/submenu2.jpg" alt="Submenu preview">

    <div class="site-nav--column">
      <a href="#"><img class="site-nav--img" src="img/daml-enterprise-logo.svg" alt="Submenu preview"> </a>
      <a href="#"><img class="site-nav--img" src="img/daml-hub-logo-light.svg" alt="Submenu preview"> </a>
      <a href="#"><i class="fa fa-credit-card site-nav--icon"></i>Daml Finance</a>
      <a href="#"><i class="fa fa-pencil site-nav--icon"></i>Implementation Options</a>
      <a href="#"><i class="fa fa-pencil site-nav--icon"></i>Customer Stories</a>
    </div>

<hr>

<h2 id="sections">Sections</h2>

<h3 id="product-section">Product Section</h3>

<img class="for-preview-story"src="img/product-section.jpg" alt="Product section preview">

<div class="product-section">
<div>
  <img class="product-section--image" src="img/products-image-1.jpg" alt="Product section preview">
</div>
<div class="product-section--block" >
<img src="img/daml-enterprise-dark-bg.svg" alt="Product section preview">
<p>Daml Enterprise enables global connectivity and synchronization, helping you get to market quickly with full-stack, multi-party solutions that scale as your business needs evolve. Supported by our industry experts 24/365.</p>
<a href="#!" class="button">Learn More</a>
</div>
</div>

<hr>



<h3 id="story-section">Story Section</h3>

<img class="for-preview-story" src="img/--customer-story.jpg" alt="Customer story preview">

<div class="story-section">
<div class="story-section--block">
<h3 class="preheader">Featured customer story</h3>
<h2>Goldman Sachs</h2>
<p>Goldman Sachs is using Daml to develop its end-to-end tokenized asset infrastructure supporting the digital life cycle across multiple asset classes on permissioned and public blockchains.</p>
<a href="#!" class="readmore">Read more ></a>
</div>

<div class="story-section--image">
<img src="img/story-image.webp" alt="Customer story preview"> 
</div>
</div>

<hr>

<h3 id="more-stories-section">More Stories Section</h3>

<img class="for-preview-morestory" src="img/morestories.jpg" alt="More stories preview">

<div class="more-stories--block">
<img class="more-stories--image" src="img/more-stories-img1.webp"  alt="More stories preview">
<p class="more-stories--text">FCX, a subsidiary of FinClear,  is a cutting-edge DLT platform facilitating cap table management, capital raising, and private registry trading. FinClear is Australia's largest independent market access technology and infrastructure provider.</p>
<a href="#!" class="readmore">Watch the interview ></a>
</div>


<hr>

<h3 id="logo-slider-section">Logo slider Section</h3>

<img class="for-preview" src="img/logoslider.jpg" alt="Logo slider preview">

<section class="purple center">
  <div class="container">
<p class="logo-slider--headline">The world's most innovative enterprises are working with us to change how businesses and markets interact</p>

  <div class="logo-slider">
    <img alt="logo-preview" src="img/logos/BNP2.svg">
    <img alt="logo-preview" src="img/logos/broadridge.svg">
    <img alt="logo-preview" src="img/logos/Citi.svg">
    <img alt="logo-preview" src="img/logos/JP-Morgan.webp">
    <img alt="logo-preview" src="img/logos/deloitte-1.svg">
    <img alt="logo-preview" src="img/logos/exactpro.svg">
    <img alt="logo-preview" src="img/logos/hkex.svg">
  </div>

</div>
</section>


<hr>

<h2 id="footer">Footer</h2>

<img class="for-preview-morestory" src="img/Footer.jpg" alt="Footer preview">

  <div class="footer-container">
    <div class="footer-section">
        <a href="#" class="footer-section--logo"><img class="logo" src="img/digital-asset-logo.svg" alt="Footer logo preview"></a>
        <div><a href="#!" class="footer-section--social-media"><i class="fa fa-twitter"></i></a>
        <a href="#!" class="footer-section--social-media"><i class="fa fa-linkedin"></i></a></div>
        <a href="#!" class="footer-section--button">Learn More</a>
        <a href="#!" class="footer--link--red-link">Warning - Phishing & Scams</a>
        <a href="#!" class="footer--link">Privacy Policy</a>
        <a href="#!" class="footer--link">Responsible Disclosure Policy</a>
        <a href="#!" class="footer--link">Trademark Policy</a>
        <a href="#!" class="footer--link--blue-link">Contact Technical Support></a>
    </div>
  </div>


</div>
</div>

</body>
</html>